/* novelContents.css 파일 내부 또는 원하는 CSS 파일에 추가 */
.novel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

.novel{
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}

.novel-item {
  width: 200px;
  height: 370px;
  margin: 10px;
  border-radius: 10px;
}


.novel-item img {
  width: 200px;
  height: 270px;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 padding: 8px 4px 0px;
}
.novel-card-category{
  font-size: 15px;
}

.novel h2{
  margin: 0px 27px 40px;
  padding: 36px 0px 0px;
}
.novel-card-title{
text-align: left;
font-size: 16px;
font-weight: bold;
white-space: normal;
line-height: 1.2;
}
.novel-card-writer{
  color: #999;
}
.novel-card-price{
  font-size: 16px;
  font-weight: bold;
}
.image-container{
  cursor: pointer;
}
@media (max-width: 960px) {
  .novel h2{
    margin: 0px 0px 20px;
    padding: 0px 0px 0px;
  }
  .novel-item{
    margin:0;
    margin-bottom: 20px;
  }
  .novel-container{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    
  }
}


