.Card_img {
  width: 100%;
  height: 10rem;
}

.content_card {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.card {
  text-align: center;
  margin: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.card_wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}
.link {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크의 색상을 상속 */
}
